/* Global */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Mobile Media Queries */
@media screen and (max-width: 768px) {
  #header_container :is(h1, h2){
    margin-inline: 15px;
  }
}
/* Tablet Media Queries */
@media screen and (min-width: 768px) {

}
/* Desktop Media Queries */
@media screen and (min-width: 1200px) {

}